




<div class="container payment-container mt-4">
<h4 class="py-3" style="text-align: center;">Récapitulatif de ta souscription</h4>
  <div class=" d-flex pb-3 justify-content-around">
      <div class="left-payment px-3 py-3 d-flex justify-content-center align-items-center">
        <%= image_tag(@cotisation.subscription.service.photo, width: '250', height: '125') %>
      </div>

      <div class="right-payment px-3 py-3">
        h1>Souscrire à un abonnement mensuel</h1>
        <p>Abonner vous afin de recharger votre compte automatiquement tous les mois</p>
        <p><i class="fas fa-cube"></i> <b>Service :</b> <%= @cotisation.subscription.service.name %></p>
        <p><i class="fas fa-user-check"></i> <b>Shareur :</b> <%= @cotisation.user.first_name %></p>
        <p><i class="fas fa-euro-sign"></i> <b>Tarif mensuel :</b> <strong><%= (@cotisation.price_cents / 100.0).round(2) %> €</strong></p>

       <button id="pay" class="btn btn-hp mr-2">T'abonner</button>

        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @cotisation.checkout_session_id %>'
            });
         </script>

        <%= link_to cotisation_path(@cotisation), method: :delete, data: { confirm: "Souhaitez-vous vraiment abandonner votre achat ?"}, class: "btn btn-hp mr-2" do %>
        Annuler
        <% end %>
        </div>
      </div>
  </div>
</div>




