<!DOCTYPE html>
<html>
  <head>
    <title>Partager vos abonnements | Profitez des abonnements des autres</title>
    <meta name="description" content="Pas envie de vous ruiner à payer tous les abonnements possibles, économisez en partageant avec : Sharemyplan est fait pour vous. Classée meilleure site de partage.">

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="robots" content="index, follow">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta property="og:site_name" content="Partage d'abonnement video, de musiques et de livres">
    <meta property="og:title" content="Partage d'abonnement video, de musiques et de livres">
    <meta property="og:type" content="partage">
    <meta property="og:url" content="http://sharemyplan.herokuapp.com">
    <meta property="og:image" content="share_my_plan_hp.png">
    <meta property="og:description" content="Partager vos abonnements, profitez des abonnements des autres et économisez de l'argent">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,800,800i|Open+Sans:400,600,700i,800&display=swap" rel="stylesheet">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <div class="full-screen">
      <div class="header__bg"></div>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
